.mac-book-pro161-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mac-book-pro161-mac-book-pro161 {
  width: 100%;
  height: 14937px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro161-group13 {
  top: 127.73738098144531px;
  left: 164.2338409423828px;
  width: 343.4518737792969px;
  height: 83.93441009521484px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-image7327323727dribbblelogoblack1 {
  top: 0px;
  left: 0px;
  width: 343px;
  height: 84px;
  position: absolute;
}
.mac-book-pro161-group12 {
  top: 147.8103790283203px;
  left: 636.8621826171875px;
  width: 1275.549072265625px;
  height: 43.795677185058594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text {
  color: rgba(0, 0, 0, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text002 {
  top: 0.00005452131881611422px;
  left: 1149.636474609375px;
  color: rgba(0, 0, 0, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text004 {
  top: 0.00005452131881611422px;
  left: 843.0667724609375px;
  color: rgba(0, 0, 0, 1);
  width: 235px;
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text006 {
  top: 0.00005452131881611422px;
  left: 582.1175537109375px;
  color: rgba(0, 0, 0, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text008 {
  top: 0.00005452131881611422px;
  left: 262.7740783691406px;
  color: rgba(0, 0, 0, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group14 {
  top: 100.36508178710938px;
  left: 2640.514404296875px;
  width: 394.1610107421875px;
  height: 113.13882446289062px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text010 {
  top: 31.021949768066406px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group8 {
  top: 0px;
  left: 177.0074462890625px;
  width: 217.15354919433594px;
  height: 113.13882446289062px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 12, 34, 1);
}
.mac-book-pro161-text012 {
  top: 34.67159652709961px;
  left: 40.14603042602539px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group9 {
  top: 9288px;
  left: 1497px;
  width: 249px;
  height: 113px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(234, 76, 137, 1);
}
.mac-book-pro161-text014 {
  top: 34.671875px;
  left: 82.14602661132812px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group10 {
  top: 444px;
  left: 733px;
  width: 1816.2734375px;
  height: 138.3292694091797px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-group91 {
  top: 0px;
  left: 155.10971069335938px;
  width: 765.037353515625px;
  height: 119.9927978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text016 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45.6204948425293px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text018 {
  top: 72.9927978515625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text020 {
  top: 72.9927978515625px;
  left: 213.50393676757812px;
  color: rgba(183, 183, 183, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text022 {
  top: 72.9927978515625px;
  left: 275.54779052734375px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text024 {
  top: 49.2701416015625px;
  left: 403.2851867675781px;
  color: rgba(132, 132, 132, 1);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 75.67144775390625px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text025 {
  top: 47.44532775878906px;
  left: 593.06640625px;
  color: rgba(112, 112, 112, 1);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 75.67144775390625px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text026 {
  top: 72.9927978515625px;
  left: 450.73052978515625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text028 {
  top: 72.9927978515625px;
  left: 635.037353515625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group5 {
  top: 15.03818130493164px;
  left: 1571.7474365234375px;
  width: 107.66436767578125px;
  height: 107.66436767578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-love {
  top: 32.008419036865234px;
  left: 28.332815170288086px;
  width: 51px;
  height: 52px;
  position: absolute;
}
.mac-book-pro161-group2 {
  top: 14.029766082763672px;
  left: 1708.6090087890625px;
  width: 107.66436767578125px;
  height: 107.66436767578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-bookmark {
  top: 26.188627243041992px;
  left: 28.332748413085938px;
  width: 51px;
  height: 52px;
  position: absolute;
}
.mac-book-pro161-group7 {
  top: 1.8248291015625px;
  left: 0px;
  width: 135.0366668701172px;
  height: 136.5044403076172px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-image51f03d51a25fa75346070b47ee4fe9941 {
  top: 0px;
  left: 0px;
  width: 117px;
  height: 117px;
  position: absolute;
  border-radius: 73.38949584960938px;
}
.mac-book-pro161-ellipse1 {
  top: 79.26065063476562px;
  left: 76.3250732421875px;
  width: 59px;
  height: 57px;
  position: absolute;
}
.mac-book-pro161-group11 {
  top: 425.1830139160156px;
  left: 2939.78466796875px;
  width: 111.31401062011719px;
  height: 560.2196655273438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-image51f03d51a25fa75346070b47ee4fe9942 {
  top: 0px;
  left: 0px;
  width: 109px;
  height: 109px;
  position: absolute;
  border-radius: 68.43074035644531px;
}
.mac-book-pro161-group4 {
  top: 452.5552978515625px;
  left: 3.649763345718384px;
  width: 107.66436767578125px;
  height: 107.66436767578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-info {
  top: 29.098508834838867px;
  left: 28.3326473236084px;
  width: 51px;
  height: 52px;
  position: absolute;
}
.mac-book-pro161-group1 {
  top: 299.27044677734375px;
  left: 1.8250051736831665px;
  width: 107.66436767578125px;
  height: 107.66436767578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-share-rounded {
  top: 26.188621520996094px;
  left: 28.332719802856445px;
  width: 51px;
  height: 52px;
  position: absolute;
}
.mac-book-pro161-group3 {
  top: 147.81039428710938px;
  left: 1.8250051736831665px;
  width: 107.66436767578125px;
  height: 107.66436767578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-speech-bubble {
  top: 29.098501205444336px;
  left: 28.332719802856445px;
  width: 51px;
  height: 52px;
  position: absolute;
}
.mac-book-pro161-group16 {
  top: 627.738037109375px;
  left: 476.278076171875px;
  width: 2257.910400390625px;
  height: 7227.26171875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-originalb7a3a0bcb5a735fe89547b60ffbb7e1d1 {
  top: 0px;
  left: 1.82470703125px;
  width: 2255px;
  height: 1608px;
  position: absolute;
  border-radius: 18.248199462890625px;
}
.mac-book-pro161-original6149a4ac1a168b62715f5945e6eb97961 {
  top: 1788.323486328125px;
  left: 0px;
  width: 2258px;
  height: 1693px;
  position: absolute;
  border-radius: 15px;
}
.mac-book-pro161-originalda2a13ba72ad65dc7b4b4df90a98bb341 {
  top: 3662.261962890625px;
  left: 1.721923828125px;
  width: 2256px;
  height: 1692px;
  position: absolute;
  border-radius: 15px;
}
.mac-book-pro161-originalf6be5bdae4a2dc1367b643d7322084741 {
  top: 5535.26171875px;
  left: 1.721923828125px;
  width: 2256px;
  height: 1692px;
  position: absolute;
  border-radius: 15px;
}
.mac-book-pro161-group35 {
  top: 9757px;
  left: 243px;
  width: 2686px;
  height: 536px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-originalda2a13ba72ad65dc7b4b4df90a98bb342 {
  top: 84.6328125px;
  left: 0px;
  width: 602px;
  height: 451px;
  position: absolute;
  border-radius: 20px;
}
.mac-book-pro161-screenshot202308182158401 {
  top: 85px;
  left: 2080px;
  width: 606px;
  height: 451px;
  position: absolute;
  border-radius: 20px;
}
.mac-book-pro161-screenshot202308182158071 {
  top: 82px;
  left: 1382px;
  width: 605px;
  height: 454px;
  position: absolute;
  border-radius: 20px;
}
.mac-book-pro161-screenshot202308182156491 {
  top: 83px;
  left: 691px;
  width: 605px;
  height: 453px;
  position: absolute;
  border-radius: 20px;
}
.mac-book-pro161-text030 {
  left: 2472px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text032 {
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group15 {
  top: 8241.0498046875px;
  left: 848px;
  width: 1795px;
  height: 160.9501953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text034 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 56.653297424316406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text036 {
  top: 94.9501953125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 56.653297424316406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text037 {
  text-decoration: NONE;
}
.mac-book-pro161-text038 {
  text-decoration: UNDERLINE;
}
.mac-book-pro161-text039 {
  text-decoration: NONE;
}
.mac-book-pro161-text040 {
  text-decoration: UNDERLINE;
}
.mac-book-pro161-text041 {
  text-decoration: NONE;
}
.mac-book-pro161-group18 {
  top: 542px;
  left: 1146px;
  width: 21px;
  height: 21.96851348876953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-ellipse2 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 20px;
  position: absolute;
}
.mac-book-pro161-rectangle7 {
  top: 19.38220977783203px;
  left: 14.978759765625px;
  width: 4px;
  height: 3px;
  position: absolute;
}
.mac-book-pro161-group20 {
  top: 8846px;
  left: 249.9576416015625px;
  width: 2729.126953125px;
  height: 168.4224395751953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-group19 {
  top: 0px;
  left: 1275.0423583984375px;
  width: 161px;
  height: 168.4224395751953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-ellipse21 {
  top: 0px;
  left: 0px;
  width: 161px;
  height: 151px;
  position: absolute;
}
.mac-book-pro161-rectangle71 {
  top: 148.5940704345703px;
  left: 114.837158203125px;
  width: 31px;
  height: 24px;
  position: absolute;
}
.mac-book-pro161-line1 {
  top: 83px;
  left: 1156.084716796875px;
  width: 1156px;
  height: 1px;
  position: absolute;
}
.mac-book-pro161-line2 {
  top: 83px;
  left: 2729.126953125px;
  width: 1156px;
  height: 1px;
  position: absolute;
}
.mac-book-pro161-group36 {
  top: 9116px;
  left: 1345px;
  width: 521px;
  height: 249px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text043 {
  left: 221px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text045 {
  top: 67px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25.65986442565918px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-envelopesolid1 {
  top: 208px;
  left: 178px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.mac-book-pro161-group34 {
  top: 10638px;
  left: 156px;
  width: 2876.185546875px;
  height: 1709px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-screenshot202308182204031 {
  top: 904px;
  left: 0px;
  width: 2868px;
  height: 805px;
  position: absolute;
}
.mac-book-pro161-screenshot202308182203391 {
  top: 86px;
  left: 0px;
  width: 2876px;
  height: 768px;
  position: absolute;
}
.mac-book-pro161-text047 {
  left: 35px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group23 {
  top: 12807px;
  left: 1482px;
  width: 364px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-group22 {
  top: 0px;
  left: 0px;
  width: 82px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text049 {
  top: 17px;
  left: 30px;
  color: rgba(166, 157, 157, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group21 {
  top: 0px;
  left: 142px;
  width: 82px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text050 {
  top: 17px;
  left: 30px;
  color: rgba(165, 165, 165, 1);
  height: auto;
  position: absolute;
  font-size: 40.20045471191406px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text051 {
  top: 17px;
  left: 275px;
  color: rgba(103, 101, 101, 1);
  height: auto;
  position: absolute;
  font-size: 50.39211654663086px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group30 {
  top: 13338.5px;
  left: 71px;
  width: 3005.001953125px;
  height: 990.6912841796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-pngtransparentdesigncommunitydribbbledribbblerdrib {
  top: 0px;
  left: 5.001953125px;
  width: 351px;
  height: 106px;
  position: absolute;
}
.mac-book-pro161-text053 {
  top: 197.3330078125px;
  left: 5.001953125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35.833683013916016px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group24 {
  top: 375.5px;
  left: 0px;
  width: 355.2857666015625px;
  height: 68.07142639160156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-facebook {
  top: 4.607421875px;
  left: 149.6070556640625px;
  width: 59px;
  height: 59px;
  position: absolute;
}
.mac-book-pro161-instagram {
  top: 2px;
  left: 215.607177734375px;
  width: 66px;
  height: 66px;
  position: absolute;
}
.mac-book-pro161-dribbble {
  top: 0px;
  left: 0px;
  width: 66px;
  height: 66px;
  position: absolute;
}
.mac-book-pro161-pinterest {
  top: 2px;
  left: 289.21435546875px;
  width: 66px;
  height: 66px;
  position: absolute;
}
.mac-book-pro161-twitter-x {
  top: 6.5712890625px;
  left: 78.998046875px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.mac-book-pro161-group25 {
  top: 53px;
  left: 2228.001953125px;
  width: 380px;
  height: 937.6912841796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text060 {
  top: 805.8379516601562px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text062 {
  top: 886.6912841796875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text064 {
  top: 724.9846801757812px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text066 {
  top: 627.960693359375px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text068 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text070 {
  top: 527.34326171875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text072 {
  top: 441.0997009277344px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text074 {
  top: 293.76702880859375px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text079 {
  top: 200.33653259277344px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text081 {
  top: 110.49951934814453px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 43.23298645019531px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group29 {
  top: 53px;
  left: 2680.001953125px;
  width: 325px;
  height: 644.7449951171875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text083 {
  top: 548.7449951171875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.5648078918457px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text088 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.5648078918457px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text090 {
  top: 467.82391357421875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.5648078918457px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text092 {
  top: 380.1600036621094px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.5648078918457px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text094 {
  top: 295.86749267578125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.5648078918457px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text096 {
  top: 205.67413330078125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.5648078918457px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text098 {
  top: 112.10934448242188px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.5648078918457px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group28 {
  top: 53px;
  left: 1782.001953125px;
  width: 327px;
  height: 882.8436889648438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text100 {
  top: 114.55754852294922px;
  left: 13.039071083068848px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text102 {
  top: 829.8436889648438px;
  left: 5.5881733894348145px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text104 {
  left: 5.5881733894348145px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text106 {
  top: 740.4329223632812px;
  left: 5.5881733894348145px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text108 {
  top: 651.0221557617188px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text110 {
  top: 561.6113891601562px;
  left: 11.176346778869629px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text112 {
  top: 472.20062255859375px;
  left: 5.5881733894348145px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text114 {
  top: 382.78985595703125px;
  left: 5.5881733894348145px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text116 {
  top: 293.37908935546875px;
  left: 11.176346778869629px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text118 {
  top: 203.96832275390625px;
  left: 11.176346778869629px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.82069396972656px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group27 {
  top: 53px;
  left: 1206.001953125px;
  width: 456px;
  height: 574.6517333984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text120 {
  top: 522.6517333984375px;
  left: 0.9169328808784485px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.12630081176758px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text122 {
  top: 418.12139892578125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.12630081176758px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text124 {
  top: 295.2524108886719px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.12630081176758px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text126 {
  top: 216.3961639404297px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.12630081176758px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text128 {
  top: 122.86901092529297px;
  left: 0.9169328808784485px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.12630081176758px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text130 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44.12630081176758px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group26 {
  top: 53px;
  left: 732.001953125px;
  width: 364.7161560058594px;
  height: 525.94775390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text132 {
  left: 1.7161500453948975px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text134 {
  top: 477.9477844238281px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text136 {
  top: 384.4176330566406px;
  left: 1.7161500453948975px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text138 {
  top: 295.1778259277344px;
  left: 1.7161500453948975px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text140 {
  top: 202.50570678710938px;
  left: 1.7161500453948975px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text142 {
  top: 108.97553253173828px;
  left: 1.7161500453948975px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-group33 {
  top: 14726.5px;
  left: 112.001953125px;
  width: 663px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text144 {
  left: 44px;
  color: rgba(142, 142, 142, 1);
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-copyright {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 50px;
  position: absolute;
}
.mac-book-pro161-group32 {
  top: 14712.5px;
  left: 2425.001953125px;
  width: 614px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-text146 {
  top: 30px;
  left: 215px;
  color: rgba(142, 142, 142, 1);
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-text148 {
  top: 36px;
  color: rgba(0, 0, 0, 1);
  width: 204px;
  height: auto;
  position: absolute;
  font-size: 41.2938346862793px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro161-dribbble1 {
  top: 0px;
  left: 514px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.mac-book-pro161-line21 {
  top: 10496.5px;
  left: 3154.001953125px;
  width: 3154px;
  height: 1px;
  position: absolute;
}
.mac-book-pro161-line22 {
  top: 13053px;
  left: 3154.00390625px;
  width: 3154px;
  height: 1px;
  position: absolute;
}
.mac-book-pro161-line3 {
  top: 14568px;
  left: 3039.0087890625px;
  width: 2907px;
  height: 1px;
  position: absolute;
}
.mac-book-pro161-group31 {
  top: 559px;
  left: 3021px;
  width: 51.66666793823242px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-pro161-ellipse3 {
  top: 0px;
  left: 0px;
  width: 52px;
  height: 50px;
  position: absolute;
  border-color: rgba(167, 165, 165, 1);
  border-style: solid;
  border-width: 1.666666865348816px;
}
.mac-book-pro161-text150 {
  top: 10.83331298828125px;
  left: 19.166748046875px;
  color: rgba(108, 106, 106, 1);
  width: 12px;
  height: auto;
  position: absolute;
  font-size: 25.822925567626953px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
